{{!--
This header template is shared across all the pages.
--}}

<header class="m-header {{#if background}}with-picture{{/if}} js-header">
  <div class="m-mobile-topbar" data-aos="fade-down">
    <button class="m-icon-button in-mobile-topbar js-open-menu" aria-label="Open menu">
      <span class="icon-menu"></span>
    </button>
    {{#if @site.logo}}
      <a href="{{@site.url}}" class="m-logo in-mobile-topbar">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 741 413.19"><defs>
            <style>.logo-primary{fill:#050017;} .logo-secondary{fill:#fff;} [data-theme="dark"] .logo-primary{fill:#fff;} [data-theme="dark"] .logo-secondary{fill:#050017;}</style></defs>
            <title>sellrr</title>
            <path class="logo-primary" d="M515.93,56.82,180,68.52l-.44,0L16.94,194.11c-11,8.51-10.48,26,1,33.75,45.32,30.43,141.32,94.87,165.18,110.85a18.48,18.48,0,0,0,11,3.16l248.8-8.66,81.27-2.83c10.72-.37,19.12-9.84,18.78-21.13l-7-232.65C535.6,65.3,526.64,56.45,515.93,56.82Z"/>
            <path class="logo-secondary" d="M148.82,272.85q-8.44-5-8.44-14.24a12.49,12.49,0,0,1,2.9-8.57,9.12,9.12,0,0,1,7.12-3.3q4.48,0,12.39,4.22A115.07,115.07,0,0,0,178.22,257q7,2.11,17.8,2.11,11.07,0,17.27-3.69t6.2-10.28A9.92,9.92,0,0,0,217,238q-2.51-2.63-9-4.88A190.34,190.34,0,0,0,188.37,228q-23.47-4.75-33.62-13.45t-10.15-24a34.61,34.61,0,0,1,6.86-21,44.42,44.42,0,0,1,18.85-14.5A68.68,68.68,0,0,1,197.6,150,81.8,81.8,0,0,1,219,152.75a65,65,0,0,1,18.46,8q8.44,5.28,8.44,14a13.53,13.53,0,0,1-2.9,8.83,8.87,8.87,0,0,1-7.12,3.56,14.25,14.25,0,0,1-5.67-1.19,75.69,75.69,0,0,1-7-3.56A110.77,110.77,0,0,0,210,176.48a41.13,41.13,0,0,0-13.71-2q-9.76,0-15.42,4a12.49,12.49,0,0,0-5.67,10.81,11,11,0,0,0,5.8,10q5.8,3.43,22.41,6.86,17.66,3.7,27.69,8.44t14.37,11.87q4.35,7.12,4.35,18.19,0,17.93-14.9,28.74t-39.68,10.81Q166.49,284.19,148.82,272.85Z"/>
            <path class="logo-secondary" d="M385.73,250.18q2.77,3.43,2.77,9.23,0,8.18-9.76,13.71a88,88,0,0,1-20.3,8,83.84,83.84,0,0,1-21.62,3q-31.12,0-49.31-17.93t-18.19-49q0-19.78,7.91-35.07a57.53,57.53,0,0,1,22.28-23.73Q313.87,150,332.07,150q17.4,0,30.32,7.65a51.9,51.9,0,0,1,20,21.62q7.12,14,7.12,33,0,11.34-10,11.34H301.75q1.58,18.19,10.28,26.76t25.31,8.57a47.93,47.93,0,0,0,14.9-2.11,146.26,146.26,0,0,0,14.63-5.8q7.91-4.21,11.6-4.22A8.88,8.88,0,0,1,385.73,250.18Zm-74.35-68.55q-8,8.44-9.62,24.26h59.59q-.53-16.08-7.91-24.39t-20.57-8.31Q319.41,173.19,311.37,181.62Z"/>
            <path class="logo-secondary" d="M421.06,279.58q-4.62-4.08-4.61-11.73V110.43q0-7.64,4.61-11.6a17.39,17.39,0,0,1,11.73-4,17.91,17.91,0,0,1,11.87,4q4.75,4,4.75,11.6V267.84q0,7.65-4.75,11.73a17.55,17.55,0,0,1-11.87,4.09A17,17,0,0,1,421.06,279.58Z"/>
            <path class="logo-secondary" d="M488,279.58q-4.62-4.08-4.61-11.73V110.43q0-7.64,4.61-11.6a17.39,17.39,0,0,1,11.73-4,17.91,17.91,0,0,1,11.87,4q4.75,4,4.75,11.6V267.84q0,7.65-4.75,11.73a17.55,17.55,0,0,1-11.87,4.09A17,17,0,0,1,488,279.58Z"/>
            <path class="logo-primary" d="M633.18,153.41q4,3.43,4,10.28,0,7.12-3.43,10.55t-12.39,4.48l-7.91.79q-15.56,1.58-22.81,10.55t-7.25,22.41v55.37q0,7.65-4.75,11.73a17.55,17.55,0,0,1-11.87,4.09A17,17,0,0,1,555,279.58q-4.62-4.08-4.61-11.73v-102q0-7.38,4.61-11.34a17,17,0,0,1,11.47-4q6.85,0,11.07,3.82t4.22,10.94v10.55a39,39,0,0,1,14.9-17.93,45.67,45.67,0,0,1,22-7.12l3.69-.26Q629.22,150,633.18,153.41Z"/>
            <path class="logo-primary" d="M734.16,153.41q4,3.43,4,10.28,0,7.12-3.43,10.55t-12.39,4.48l-7.91.79q-15.56,1.58-22.81,10.55t-7.25,22.41v55.37q0,7.65-4.75,11.73a17.55,17.55,0,0,1-11.87,4.09A17,17,0,0,1,656,279.58q-4.62-4.08-4.61-11.73v-102q0-7.38,4.61-11.34a17,17,0,0,1,11.47-4q6.85,0,11.07,3.82t4.22,10.94v10.55a39,39,0,0,1,14.9-17.93,45.67,45.67,0,0,1,22-7.12l3.69-.26Q730.21,150,734.16,153.41Z"/>
        </svg>
      </a>
    {{else}}
      <a href="{{@site.url}}" class="m-site-name in-mobile-topbar">
        {{@site.title}}
      </a>
    {{/if}}
    <button class="m-icon-button in-mobile-topbar js-open-search" aria-label="Open search">
      <span class="icon-search"></span>
    </button>
  </div>

  <div class="m-menu js-menu">
    <button class="m-icon-button outlined as-close-menu js-close-menu" aria-label="Close menu">
      <span class="icon-close"></span>
    </button>
    <div class="m-menu__main" data-aos="fade-down">
      <div class="l-wrapper">
        <div class="m-nav">
          <nav class="m-nav__left">
            <ul role="submenu">
              {{#if @site.logo}}
                <li class="only-desktop" role="menuitem">
                  <a href="{{@site.url}}" class="m-logo">
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                  </a>
                </li>
                {{else}}
                <li class="only-desktop" role="menuitem">
                  <a href="{{@site.url}}" class="m-site-name in-desktop-menu">
                    {{@site.title}}
                  </a>
                </li>
              {{/if}}
              {{#if @site.navigation}}
                {{navigation}}
              {{/if}}
              {{#if @site.secondary_navigation}}
                <li class="more" role="menuitem">
                  <a href="javascript:void(0);" class="js-open-secondary-menu">
                    {{t "More"}}
                    <span class="icon-chevron-down"></span>
                  </a>
                </li>
              {{/if}}
              <li role="menuitem" class="js-submenu-option">
                <button class="m-icon-button in-menu-main more js-toggle-submenu" aria-label="Toggle submenu">
                  <span class="icon-more"></span>
                </button>
                <div class="m-submenu js-submenu">
                  <div class="l-wrapper in-submenu">
                    <section class="m-recent-articles">
                      <h3 class="m-submenu-title in-recent-articles">{{t "Recent articles"}}</h3>
                      {{#get "posts" limit="4" order="published_at desc" as |recent|}}
                        {{#if recent}}
                          <div class="glide js-recent-slider">
                            <div class="glide__track" data-glide-el="track">
                              <div class="glide__slides">
                                {{#foreach recent}}
                                <div class="glide__slide">
                                  <a href="{{url}}" class="m-recent-article">
                                    <div class="m-recent-article__picture {{#unless feature_image}}no-picture{{/unless}}">
                                      {{#if feature_image}}
                                        <img src="{{img_url feature_image size="s"}}" loading="lazy" alt="">
                                      {{else}}
                                        <img src="{{asset "images/no-image.png"}}" loading="lazy" alt="">
                                      {{/if}}
                                    </div>
                                    <h3 class="m-recent-article__title js-recent-article-title" title="{{title}}">
                                      {{title}}
                                    </h3>
                                    <span class="m-recent-article__date">{{date published_at timeago="true"}}</span>
                                  </a>
                                </div>
                                {{/foreach}}
                              </div>
                            </div>
                          </div>
                        {{else}}
                          <div class="m-not-found in-recent-articles">{{t "No recent articles found :("}}</div>
                        {{/if}}
                      {{/get}}
                    </section>
                    <section class="m-tags">
                      <h3 class="m-submenu-title">{{t "Tags"}}</h3>
                      {{#get "tags" limit="10"}}
                        <ul>
                          {{#foreach tags}}
                            <li>
                              <a href="{{url}}">{{name}}</a>
                            </li>
                            {{else}}
                              <li class="m-not-found">{{t "No tags found :("}}</li>
                          {{/foreach}}
                        </ul>
                      {{/get}}
                    </section>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <div class="m-nav__right">
            <button class="m-icon-button in-menu-main js-open-search" aria-label="Open search">
              <span class="icon-search"></span>
            </button>
            <div class="m-toggle-darkmode js-tooltip" data-tippy-content="{{t "Toggle dark mode"}}">
              <input type="checkbox" class="js-toggle-darkmode">
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if @site.secondary_navigation}}
    <div id="secondary-navigation-template" style="display: none;">
      {{navigation type="secondary"}}
    </div>
  {{/if}}
</header>
